img {
  max-width: 100%;
  object-fit: cover;
}

.main-img {
  width: 25%;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.image {
    width: 20%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

